body {
    background-color: #efefef;
}
div[id="top"] {
    background-color: #b1bf78;
    align-items: center;
    text-align: center;
    font-style: poppins;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
h8[id="descrition"]{
    font-size: 15px;
}
div[id="vid"] {
    background-color: #b1bf78;
}
.navbar {
    display: flex;
    background-color: #a6a4a4;
    font-family: 'poppins';
    align-items: center;
    font-size: medium;
}
.nav-list {
    width: 50%;
    display: flex;
}
  
.nav-list li {
    list-style: none;
    padding: 6px 11px;
}
  
.nav-list li a {
    text-decoration: none;
    color: white;
}
  
.nav-list li a:hover {
    color: black;
}
  
.rightNav {
    width: 50%;
    text-align: center;
}
iframe {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}